{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% if title == "Sign up" %}
    <div>
        {{ messages[0] }} Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% if title == "Log in" %}
    <div>
        {{ messages[0] }} If you don't have an account, go <a href="{{ url_for('auth.signup') }}">here</a> to sign up.
    </div>
{% endif %}
{% endif %}
{% endwith %}
<form action="{{ current_url }}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </div>

    {% if title == "Log in" %}
        <div>
            <label for="remember">Remember me:</label>
            <input type="checkbox" id="remember" name="remember">
        </div>
    {% endif %}
    
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}