{% extends 'base.html' %}

{% block head %}
<title>All Categories</title>
<style>
    table {
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block body %}
<h1>Categories</h1>
<div><a href="{{ url_for('main.dashboard') }}">Dashboard</a></div>
<table>
    <tr>
        <th>Category Number</th>
        <th>Category Name</th>
        <th>Category Code</th>
        <th>Shelf Number</th>
    </tr>
    {% for row in categories %}
        <tr>
            <td>{{ row.num }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.code }}</td>
            <td>{{ row.shelf }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}