{% extends 'base.html' %}
{% block head %}
<title>New Category</title>
{% endblock %}

{% block body %}
<h1>New Category</h1>
<form action="{{ current_url }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>

    <div>
        <label for="code">Code:</label>
        <input type="text" id="code" name="code">
    </div>

    <div>
        <label for="shelf">Shelf:</label>
        <input type="text" id="shelf" name="shelf">
    </div>
    
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
{% endblock %}