{% extends 'base.html' %}

{% block head %}
<title>Library</title>
<style>
    table {
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block body %}
<h1>Shelves</h1>
<div><a href="{{ url_for('main.dashboard') }}">Dashboard</a></div>
<table>
    <tr>
        <th>Shelf Number</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ row.num }}</td>
        </tr>
    {% endfor %}
</table>
<button onclick="newshelf()">Add Shelf</button>
<script>
    function newshelf() {
        window.location.href = "{{ url_for('main.addshelf') }}"
    }
</script>
{% endblock %}