{% extends 'base.html' %}

{% block head %}
<title>Library</title>
<style>
    table {
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block body %}
<h1>Shelves</h1>
<div><a href="{{ url_for('main.dashboard') }}">Dashboard</a></div>
<table>
    <tr>
        <th>Shelf Number</th>
    </tr>
    {% for shelf in shelves %}
        <tr>
            <td><a href="{{ url_for('library.shelf', shelfnum=shelf.num) }}">{{ shelf.num }}</a></td>
        </tr>
    {% endfor %}
</table>
<form action="{{ current_url }}" method="POST"><input type="submit" value="Add Shelf"></form>
{% endblock %}