{% block head %}
<title>Scanner</title>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="reader" width="600px"><h1>test</h1></div>
<script>
    function onScanSuccess(decodedText, decodedResult) {
    // handle the scanned code as you like, for example:
    console.log(`Code matched = ${decodedText}`, decodedResult);
    window.location.href = "{{ url_for('main.lookup', id='') }}" + decodedText;
    }

    function onScanFailure(error) {
    // handle scan failure, usually better to ignore and keep scanning.
    // for example:
    console.warn(`Code scan error = ${error}`);
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
    "reader",
    { fps: 10, qrbox: {width: 250, height: 250} },
    /* verbose= */ false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
{% endblock %}