{% extends 'base.html' %}

{% block head %}
<title>Shelf {{ shelfnum }}</title>
<style>
    table {
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: center;
        border: 1px solid #ddd;
    }
    
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block body %}
<h1>Shelf {{ shelf.num }}</h1>
<h2>Categories</h2>
<div><a href="{{ url_for('library.home') }}">Library</a></div>
<table>
    <tr>
        <th>Category Number</th>
        <th>Category Name</th>
        <th>Category Code</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ row.num }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.code }}</td>
        </tr>
    {% endfor %}
</table>
<button onclick="newcategory()">Add Category</button>
<script>
    function newcategory() {
        window.location.href = "{{ url_for('library.addcategory', shelfid=shelf.id) }}"
    }
</script>
{% endblock %}